{{#with data}}
    <div class='feature_content'>
        <img src='{{photo}}' alt='Feature image' class='feature_image' />
        <h1 class='feature_heading'>{{heading}}</h1>
        <p class='feature_info'>{{info}}</p>
        <a href='{{linkUrl}}' class='feature_link'>{{linkText}}</a>
    </div>
{{/with}}